html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.header {
  line-height: 40px;
  padding: 0 20px;
  background-color: #3498db;
  color: #fff;
}

.header .logo {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.header .entity {
  float: right;
  font-size: 13px;
}

.header .entity img {
  float: left;
  height: 36px;
  margin-top: 2px;
  margin-right: 10px;
}
